{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c9_header.html" %}
{% endblock header %}

{% block content %}
        <table class="los longer">
            <thead>
                <tr>
                    <th>{% trans "Operating theatre performance" %}</th>
                    {% for name in statistics.name %}
                        <th style="color: {% if user.get_profile.workplace.codename == name %}red{% else %}{% if user.get_profile.workplace.country.printable_name == name %}orange{% else %}#027997{% endif %}{% endif %}">{{ name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Operating theatre performance" %}:</td>
                    {% for mk in statistics.mk %}
                        <td>{{ mk|floatformat:"2" }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Surgery performance" %}:</td>
                    {% for mka in statistics.mka %}
                        <td>{{ mka|floatformat:"2" }}%</td>
                    {% endfor %}
                </tr>
        </table>
        <div id="mk" style="margin-top: 20px; height: 200px"></div>
        <div id="mka" style="margin-top: 20px; height: 200px"></div>

{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.dateAxisRenderer.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.los th').each(function(){
                if( $(this).text().indexOf("{{ user.get_profile.workplace.codename }}") !=-1 ){
                    $(this).css('color','red')
                }
            })

            var names = [{% for name in statistics.name %}"{{ name }}"{% if not forloop.last %},{% endif %}{% endfor %}]
            {% localize off %}
                var mk = [{% for mk in statistics.mk %}"{{ mk }}"{% if not forloop.last %},{% endif %}{% endfor %}]
                var mka = [{% for mka in statistics.mka %}"{{ mka }}"{% if not forloop.last %},{% endif %}{% endfor %}]
            {% endlocalize %}
            var colors = []
            var mk_data = []
            var mka_data = []
            for(var i=0;i<names.length;i++){
                if( names[i] == "{{ user.get_profile.country.printable_name }}"){
                    colors.push("orange")
                }else if( names[i].indexOf("{{ user.get_profile.workplace.codename }}") !=-1 ){
                    colors.push("red")
                }else{
                    colors.push("#027997")
                }

                mk_data.push([[names[i], mk[i]]])
                mka_data.push([[names[i], mka[i]]])


            }
            jqplot_percent.series = [{% for name in statistics.name %}{ label: "{{ name }}" }{% if not forloop.last %},{% endif %}{% endfor %}]
            jqplot_percent.seriesColors = colors
            jqplot_percent.legend = { show: true }
            jqplot_percent.title = "{% trans "Operating theatre performance" %}"
            $.jqplot('mk',  mk_data, jqplot_percent);
            jqplot_percent.title = "{% trans "Surgery performance" %}"
            $.jqplot('mka', mka_data, jqplot_percent);
        });
    </script>
{% endblock js %}