{% extends "base.html" %}
{% load i18n %}
{% block header %}
    <div id="content_home">{% trans "C9. Operating theatre performance " %}</div>
    <div id="content_helper">
        <table>
            <tr>
                <td><a href="{% url report_forms %}"><img src="{{ STATIC_URL }}/images/white.appbar.arrow.left.png" title="{% trans "Report Forms" %}" /></a></td>
                <td><a href="{% url c9_operation_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Operation form" %}" /></a> <a href="{% url c9_patient_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Patient form" %}" /></a></td>
                <td><a href="{% url c9_stat %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
                <td><a href="{% url c9_import %}"><img src="{{ STATIC_URL }}/images/white.appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
                <td><a href="{% url c9_operation_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Operation template" %}" /></a><a href="{% url c9_patient_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Patient template" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c8.docx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c8.xlsx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c8.docx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
            </tr>
        </table>
    </div>
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 30 days of observation." %}
    {% else %}
        {% for operating_room in display_stats %}
            <table class="los">
                <thead>
                    <tr>
                        <th colspan="2">{{ operating_room.name }}</th>
                    </tr>
                </thead>
                {% if operating_room.missing_fields %}
                <tr style="color: red">
                    <td>{% trans "Patients operated while the OR was closed:" %}</td>
                    <td>{% for field in operating_room.missing_fields %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% trans "Operating theatre performance:" %}</td>
                    <td>{{ operating_room.mk|floatformat:"2" }}%</td>
                </tr>
                <tr>
                    <td>{% trans "Surgery performance:" %}</td>
                    <td>{{ operating_room.mka|floatformat:"2" }}%</td>
                </tr>
                <tr>
                    <td>{% trans "Average time in OR:" %}</td>
                    <td>{{ operating_room.amt }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Median time in OR:" %}</td>
                    <td>{{ operating_room.mmt }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average time of anesthesia:" %}</td>
                    <td>{{ operating_room.aa }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Median time of anesthesia:" %}</td>
                    <td>{{ operating_room.ma }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average time of surgery:" %}</td>
                    <td>{{ operating_room.ami }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Median time of surgery:" %}</td>
                    <td>{{ operating_room.mmi }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average time before surgery:" %}</td>
                    <td>{{ operating_room.ame }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Median time before surgery:" %}</td>
                    <td>{{ operating_room.mme }} {% trans 'minutes' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Number of days with overtime:" %}</td>
                    <td>{{ operating_room.tn }} {% trans 'days' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average time of overtime:" %}</td>
                    <td>{{ operating_room.at }} {% trans 'minutes/days' %}</td>
                </tr>
                <tr>
                    <td>{% trans "Average time of overtime on days with overtime:" %}</td>
                    <td>{{ operating_room.attn }} {% trans 'minutes' %}</td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
{% endblock js %}