{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c9_header.html" %}
{% endblock header %}

{% block content %}
    {% if not display_stats %}
        {% trans "Sorry, you don't have any OR." %}
    {% else %}
        {% for operating_room in display_stats %}
            <table class="los">
            <thead>
            <tr>
                <th colspan="2">{{ operating_room.name }}</th>
            </tr>
            </thead>
                {% if operating_room.missing_fields %}
                    <tr style="color: red">
                        <td>{% trans "Patients operated while the OR was closed:" %}</td>
                        <td>{% for field in operating_room.missing_fields %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                {% if operating_room.pdateerrors %}
                    <tr style="color: red">
                        <td>{% trans "Patients date errors:" %}</td>
                        <td>{% for field in operating_room.pdateerrors %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                {% if operating_room.cases < 30 and not operating_room.ordateerrors %}
                <tr style="color: red">
                    <td colspan="2">{% trans "Sorry, you have less than 30 days of observation." %}</td>
                </tr>
            {% else %}
                {% if operating_room.ordateerrors %}
                    <tr style="color: red">
                        <td colspan="2">{% trans "Sorry, but you have a date or time error with this OR." %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{% trans "Operating theatre performance" %}:</td>
                        <td>{{ operating_room.mk|floatformat:"2" }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Surgery performance" %}:</td>
                        <td>{{ operating_room.mka|floatformat:"2" }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time in OR" %}:</td>
                        <td>{{ operating_room.amt }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time in OR" %}:</td>
                        <td>{{ operating_room.mmt }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of anesthesia" %}:</td>
                        <td>{{ operating_room.aa }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time of anesthesia" %}:</td>
                        <td>{{ operating_room.ma }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of surgery" %}:</td>
                        <td>{{ operating_room.ami }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time of surgery" %}:</td>
                        <td>{{ operating_room.mmi }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time before surgery" %}:</td>
                        <td>{{ operating_room.ame }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time before surgery" %}:</td>
                        <td>{{ operating_room.mme }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Number of days with overtime" %}:</td>
                        <td>{{ operating_room.tn }} {% trans 'days' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of overtime" %}:</td>
                        <td>{{ operating_room.at }} {% trans 'hours/days' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of overtime on days with overtime" %}:</td>
                        <td>{{ operating_room.attn }} {% trans 'hours' %}</td>
                    </tr>
                </table>
                    <div id="{{ operating_room.slug }}_1" style="margin-top: 20px; height: 200px"></div>
                    <div id="{{ operating_room.slug }}_2" style="margin-top: 20px; height: 300px"></div>
                    <div id="{{ operating_room.slug }}_3" style="margin-top: 20px; height: 150px"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.dateAxisRenderer.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% for operating_room in display_stats %}
                {% localize off %}
                    var {{ operating_room.slug }}_1 = [
                        ['{% trans "Operating theatre performance" %}', {{ operating_room.mk|floatformat:"2" }}],
                        ['{% trans "Surgery performance" %}', {{ operating_room.mka|floatformat:"2" }}]
                    ];
                    var {{ operating_room.slug }}_2 = [
                            ['{% trans "Average time in OR" %}', '{{ operating_room.amt }}'],
                            ['{% trans "Median time in OR" %}', '{{ operating_room.mmt }}'],
                            ['{% trans "Average time of anesthesia" %}', '{{ operating_room.aa }}'],
                            ['{% trans "Median time of anesthesia" %}', '{{ operating_room.ma }}'],
                            ['{% trans "Average time of surgery" %}', '{{ operating_room.ami }}'],
                            ['{% trans "Median time of surgery" %}', '{{ operating_room.mmi }}'],
                            ['{% trans "Average time before surgery" %}', '{{ operating_room.ame }}'],
                            ['{% trans "Median time before surgery" %}', '{{ operating_room.mme }}']
                        ];
                    var {{ operating_room.slug }}_3 = [
                        ['{% trans "Average time of overtime" %}', '{{ operating_room.at }}'],
                        ['{% trans "Average time of overtime on days with overtime" %}', '{{ operating_room.attn }}']
                    ];
                {% endlocalize %}
                jqplot_percent.title = jqplot_time.title = "{{ operating_room.name }}"
                $.jqplot('{{ operating_room.slug }}_1', [{{ operating_room.slug }}_1], jqplot_percent);
                jqplot_time.axes.xaxis.tickOptions.angle = -30
                $.jqplot('{{ operating_room.slug }}_2', [{{ operating_room.slug }}_2], jqplot_time);
                jqplot_time.axes.xaxis.tickOptions.angle = 0
                $.jqplot('{{ operating_room.slug }}_3', [{{ operating_room.slug }}_3], jqplot_time);
            {% endfor %}
        });
    </script>
{% endblock js %}