{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    <div id="content_home">{% trans "C9. Operating theatre performance " %}</div>
    <div id="content_helper">
        <table>
            <tr>
                <td><a href="{% url report_forms %}"><img src="{{ STATIC_URL }}/images/white.appbar.arrow.left.png" title="{% trans "Report Forms" %}" /></a></td>
                <td><a href="{% url c9_operation_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Operation form" %}" /></a> <a href="{% url c9_patient_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Patient form" %}" /></a></td>
                <td><a href="{% url c9_stat %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
                <td><a href="{% url c9_import %}"><img src="{{ STATIC_URL }}/images/white.appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
                <td><a href="{% url c9_operation_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Operation template" %}" /></a><a href="{% url c9_patient_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Patient template" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c8.docx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c8.xlsx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c8.docx"></a><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
            </tr>
        </table>
    </div>
{% endblock header %}

{% block content %}
    {% if not_enough %}
    {% else %}
        {% for operating_room in display_stats %}
            <table class="los">
            <thead>
            <tr>
                <th colspan="2">{{ operating_room.name }}</th>
            </tr>
            </thead>
                {% if operating_room.missing_fields %}
                    <tr style="color: red">
                        <td>{% trans "Patients operated while the OR was closed:" %}</td>
                        <td>{% for field in operating_room.missing_fields %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                {% if operating_room.pdateerrors %}
                    <tr style="color: red">
                        <td>{% trans "Patients date errors:" %}</td>
                        <td>{% for field in operating_room.pdateerrors %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                {% if operating_room.cases < 30 and not operating_room.ordateerrors %}
                <tr style="color: red">
                    <td colspan="2">{% trans "Sorry, you have less than 30 days of observation." %}</td>
                </tr>
            {% else %}
                {% if operating_room.ordateerrors %}
                    <tr style="color: red">
                        <td colspan="2">{% trans "Sorry, but you have a date or time error with this OR." %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{% trans "Operating theatre performance" %}:</td>
                        <td>{{ operating_room.mk|floatformat:"2" }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Surgery performance" %}:</td>
                        <td>{{ operating_room.mka|floatformat:"2" }}%</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time in OR" %}:</td>
                        <td>{{ operating_room.amt }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time in OR" %}:</td>
                        <td>{{ operating_room.mmt }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of anesthesia" %}:</td>
                        <td>{{ operating_room.aa }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time of anesthesia" %}:</td>
                        <td>{{ operating_room.ma }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of surgery" %}:</td>
                        <td>{{ operating_room.ami }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time of surgery" %}:</td>
                        <td>{{ operating_room.mmi }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time before surgery" %}:</td>
                        <td>{{ operating_room.ame }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median time before surgery" %}:</td>
                        <td>{{ operating_room.mme }} {% trans 'hours' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Number of days with overtime" %}:</td>
                        <td>{{ operating_room.tn }} {% trans 'days' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of overtime" %}:</td>
                        <td>{{ operating_room.at }} {% trans 'hours/days' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average time of overtime on days with overtime" %}:</td>
                        <td>{{ operating_room.attn }} {% trans 'hours' %}</td>
                    </tr>
                </table>
                    <div id="{{ operating_room.slug }}_1" style="margin-top: 20px; height: 150px"></div>
                    <div id="{{ operating_room.slug }}_2" style="margin-top: 20px; height: 300px"></div>
                    <div id="{{ operating_room.slug }}_3" style="margin-top: 20px; height: 150px"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.dateAxisRenderer.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var jqplot_options = {
                title: '{{ operating_room.name }}',
                seriesDefaults: {renderer: $.jqplot.BarRenderer},
                axes: {
                    xaxis:{
                        renderer:$.jqplot.CategoryAxisRenderer,
                        tickRenderer: $.jqplot.CanvasAxisTickRenderer
                    },
                    yaxis:{
                        min: 0,
                        max: 100,
                        tickOptions: {
                            formatString: '%.2f'
                        }
                    }
                },
                highlighter: {
                    show: true,
                    tooltipAxes: 'y',
                    formatString: '<span class="font-size: 12px">%.2f%</span>'
                }
            }

            var jqplot_options_time = {
                title: '{{ operating_room.name }}',
                seriesDefaults: {renderer: $.jqplot.BarRenderer},
                axes: {
                    xaxis:{
                        renderer:$.jqplot.CategoryAxisRenderer,
                        tickRenderer: $.jqplot.CanvasAxisTickRenderer
                    },
                    yaxis:{
                        renderer:$.jqplot.DateAxisRenderer,
                        ticks: ['00:00:00', '00:30:00', '01:00:00', '01:30:00', '02:00:00', '02:30:00', '03:00:00'],
                        tickOptions:{
                            formatString: '%T'
                        }
                    }
                },
                highlighter: {
                    show: true,
                    tooltipAxes: 'y',
                    formatString: '<span class="font-size: 12px">%s</span>'
                }
            }
            {% for operating_room in display_stats %}
                {% localize off %}
                    var {{ operating_room.slug }}_1 = [
                        ['{% trans "Operating theatre performance" %}', {{ operating_room.mk|floatformat:"2" }}],
                        ['{% trans "Surgery performance" %}', {{ operating_room.mka|floatformat:"2" }}]
                    ];
                    var {{ operating_room.slug }}_2 = [
                            ['{% trans "Average time in OR" %}', '{{ operating_room.amt }}'],
                            ['{% trans "Median time in OR" %}', '{{ operating_room.mmt }}'],
                            ['{% trans "Average time of anesthesia" %}', '{{ operating_room.aa }}'],
                            ['{% trans "Median time of anesthesia" %}', '{{ operating_room.ma }}'],
                            ['{% trans "Average time of surgery" %}', '{{ operating_room.ami }}'],
                            ['{% trans "Median time of surgery" %}', '{{ operating_room.mmi }}'],
                            ['{% trans "Average time before surgery" %}', '{{ operating_room.ame }}'],
                            ['{% trans "Median time before surgery" %}', '{{ operating_room.mme }}']
                        ];
                    var {{ operating_room.slug }}_3 = [
                        ['{% trans "Average time of overtime" %}', '{{ operating_room.at }}'],
                        ['{% trans "Average time of overtime on days with overtime" %}', '{{ operating_room.attn }}']
                    ];
                {% endlocalize %}

                $.jqplot('{{ operating_room.slug }}_1', [{{ operating_room.slug }}_1], jqplot_options);
                jqplot_options_time.axes.xaxis.tickOptions = {
                    angle: -30,
                    labelPosition: 'end',
                    fontSize: 8
                }
                $.jqplot('{{ operating_room.slug }}_2', [{{ operating_room.slug }}_2], jqplot_options_time);
                jqplot_options_time.axes.xaxis.tickOptions = ""
                $.jqplot('{{ operating_room.slug }}_3', [{{ operating_room.slug }}_3], jqplot_options_time);
            {% endfor %}
        });
    </script>
{% endblock js %}