{% extends "base.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "C.2.3. Prophylactic antibiotic use - Hip replacement" %}</div>
    <div id="content_helper">
        <table>
            <tr>
                <td><a href="{% url report_forms %}"><img src="{{ STATIC_URL }}/images/white.appbar.arrow.left.png" title="{% trans "Report Forms" %}" /></a></td>
                <td><a href="{% url c23_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
                <td><a href="{% url c23_stat %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
                <td><a href="{% url c23_import %}"><img src="{{ STATIC_URL }}/images/white.appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
                <td><a href="{% url c23_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c23.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c2.xlsx"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c23.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
            </tr>
        </table>
    </div>
{% endblock header %}

{% block content %}
    <table class="statistics">
        <tr>
            <td>{% trans "Overall:" %}</td>
            <td>{{ overall }}</td>
        </tr>
        <tr>
            <td>{% trans "Removed:" %}</td>
            <td>{{ removed }}</td>
        </tr>
        <tr>
            <td>{% trans "Counted:" %}</td>
            <td>{{ counted }}</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate antibiotic drug:" %}</td>
            <td>{{ one|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate dose:" %}</td>
            <td>{{ twoa|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate dose with weight:" %}</td>
            <td>{{ twob|floatformat:"2" }}%</td>
        </tr>
        <tr style="color:red">
            <td>Suly alapjan nem megfelelo</td>
            <td>{{ a }}</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate route of administration: intravenous administration:" %}</td>
            <td>{{ three|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate timing, within one hour of surgical wound incision:" %}</td>
            <td>{{ four|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Appropriate timing: (discontinued within 24 hours after surgical wound closure – or documentation of appropriate clinical indication for continuation of treatment beyond 24 hours):" %}</td>
            <td>{{ five|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Full compliance with criteria 1-5:" %}</td>
            <td>{{ ten|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "% of misuse:" %}</td>
            <td>{{ six|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "% of overuse:" %}</td>
            <td>{{ seven|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "% of underuse:" %}</td>
            <td>{{ eight|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "% of single shot treatment:" %}</td>
            <td>{{ nine|floatformat:"2" }}%</td>
        </tr>
        <tr style="color:red">
            <td>Nem egylovetu</td>
            <td>{{ b }}</td>
        </tr>
    </table>
{% endblock content %}
