{% extends "form.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "C1. C-section rate" %}</div>{% endblock header %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".jq_tool").tooltip()
    $("#id_mother_illness").parents('tr').next().hide()
    $("#id_weight_of_the_newborn").ready(function(){
        $(this).val($(this).val().replace(" g",""))
    }).focus(function(){
        $(this).val($(this).val().replace(" g",""))
    }).blur(function(){
        $(this).val($(this).val() + " g")
    })
    $("#id_mother_illness").change(function(){showNext($(this))})
    $('form').submit(function(ev){
        $("#id_weight_of_the_newborn").val($("#id_weight_of_the_newborn").val().replace(" g",""))
    })
    $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd" })
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" })
})

</script>
{% endblock js %}