{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c1_header.html" %}
{% endblock header %}

{% block content %}
    <table class="statistics">
        <thead>
            <tr>
                <td>{% trans "Name of the indicator" %}</td>
                {% for stat in statistics %}
                    <td style="color: {% if user.get_profile.workplace.codename == stat.name %}red{% else %}{% if user.get_profile.workplace.country.printable_name == stat.name %}orange{% else %}#027997{% endif %}{% endif %}">{{ stat.name }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tr>
            <td>{% trans "Overall:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.overall }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Removed:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.removed }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Counted:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.counted }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "C-section rate:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.indicator_one|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of planned C-section:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_one|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of acute C-section:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_two|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of c-section by the mother's age is less than 20:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_three_one|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of c-section by the mother's age is between 20-35:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_three_two|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of c-section by the mother's age is more than 35:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_three_three|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of acute C-section by the previous number of deliveries first delivery:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_four_one|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Rate of acute C-section by the previous number of deliveries One or more previous deliveries:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.subindicator_four_two|floatformat:"2" }}%</td>
            {% endfor %}
        </tr>
    </table>
    <div id="graph1" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph2" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph3" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph4" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph5" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph6" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph7" style="margin-top: 20px; height: 150px;"></div>
    <div id="graph8" style="margin-top: 20px; height: 150px;"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                {% for stat in statistics %}
                    var first{{ forloop.counter }} = [
                        ['{% trans "C-section rate" %}', {{ stat.statistics.indicator_one }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var second{{ forloop.counter }} = [
                        ['{% trans "Rate of planned C-section" %}', {{ stat.statistics.subindicator_one }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var third{{ forloop.counter }} = [
                        ['{% trans "Rate of acute C-section" %}', {{ stat.statistics.subindicator_two }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var fourth{{ forloop.counter }} = [
                        ["{% trans "Rate of c-section by the mother's age is less than 20" %}", {{ stat.statistics.subindicator_three_one }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var fifth{{ forloop.counter }} = [
                        ["{% trans "Rate of c-section by the mother's age is between 20-35" %}", {{ stat.statistics.subindicator_three_two }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var sixth{{ forloop.counter }} = [
                        ["{% trans "Rate of c-section by the mother's age is more than 35" %}", {{ stat.statistics.subindicator_three_three }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var seventh{{ forloop.counter }} = [
                        ['{% trans "Rate of acute C-section by the previous number of deliveries first delivery" %}', {{ stat.statistics.subindicator_four_one }}]
                    ];
                {% endfor %}

                {% for stat in statistics %}
                    var eighth{{ forloop.counter }} = [
                        ['{% trans "Rate of acute C-section by the previous number of deliveries One or more previous deliveries" %}', {{ stat.statistics.subindicator_four_two }}]
                    ];
                {% endfor %}

            {% endlocalize %}
            jqplot_percent.legend = { show: true }
            jqplot_percent.series = [{% for stat in statistics %}{ label: '{{ stat.name }}' }, {% endfor %}]
            jqplot_percent.seriesColors = [{% for stat in statistics %}{% if user.get_profile.workplace.codename == stat.name %}"red",{% else %}{% if user.get_profile.workplace.country.printable_name == stat.name %}"orange",{% else %}'#027997',{% endif %}{% endif %}{% endfor %}]

            jqplot_percent.title = "{% trans "C-section rate" %}"
            $.jqplot('graph1', [{% for stat in statistics %}first{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of planned C-section" %}"
            $.jqplot('graph2', [{% for stat in statistics %}second{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of acute C-section" %}"
            $.jqplot('graph3', [{% for stat in statistics %}third{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of c-section by the mother's age is less than 20" %}"
            $.jqplot('graph4', [{% for stat in statistics %}fourth{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of c-section by the mother's age is between 20-35" %}"
            $.jqplot('graph5', [{% for stat in statistics %}fifth{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of c-section by the mother's age is more than 35" %}"
            $.jqplot('graph6', [{% for stat in statistics %}sixth{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of acute C-section by the previous number of deliveries first delivery" %}"
            $.jqplot('graph7', [{% for stat in statistics %}seventh{{ forloop.counter }},{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Rate of acute C-section by the previous number of deliveries One or more previous deliveries" %}"
            $.jqplot('graph8', [{% for stat in statistics %}eighth{{ forloop.counter }},{% endfor %}], jqplot_percent);
        });
    </script>
{% endblock js %}