{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c1_header.html" %}
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 30 cases." %}
    {% else %}
        <table class="statistics">
            <tr>
                <td>{% trans "Overall:" %}</td>
                <td>{{ overall }}</td>
            </tr>
            <tr>
                <td>{% trans "Removed:" %}</td>
                <td>{{ removed }}</td>
            </tr>
            <tr>
                <td>{% trans "Counted:" %}</td>
                <td>{{ counted }}</td>
            </tr>
            <tr>
                <td>{% trans "C-section rate" %}:</td>
                <td>{{ indicator_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of planned C-section" %}:</td>
                <td>{{ subindicator_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section" %}:</td>
                <td>{{ subindicator_two|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is less than 20" %}:</td>
                <td>{{ subindicator_three_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is between 20-35" %}:</td>
                <td>{{ subindicator_three_two|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is more than 35" %}:</td>
                <td>{{ subindicator_three_three|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section by the previous number of deliveries first delivery" %}:</td>
                <td>{{ subindicator_four_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section by the previous number of deliveries first delivery one or more previous deliveries" %}:</td>
                <td>{{ subindicator_four_two|floatformat:"2" }}%</td>
            </tr>
        </table>
        <div id="graph1" style="margin-top: 20px; height: 150px;"></div>
        <div id="graph2" style="margin-top: 20px; height: 150px;"></div>
        <div id="graph3" style="margin-top: 20px; height: 150px;"></div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        {% localize off %}
            var first = [
                ['{% trans "Total" %}', {{ indicator_one }}],
                ['{% trans "Planned" %}', {{ subindicator_one }}],
                ['{% trans "Acute" %}', {{ subindicator_two }}]
            ];
            var second = [
                ["{% trans "Mother younger than 20" %}", {{ subindicator_three_one }}],
                ["{% trans "Mother between 20 and 35" %}", {{ subindicator_three_two }}],
                ["{% trans "Mother older than 35" %}", {{ subindicator_three_three }}]
            ];
            var third = [
                ['{% trans "First delivery" %}', {{ subindicator_four_one }}],
                ['{% trans "One or more previous deliveries" %}', {{ subindicator_four_two }}]];
        {% endlocalize %}
        jqplot_percent.title = "{% trans "C-section rate" %}"
        $.jqplot('graph1', [first], jqplot_percent);
        jqplot_percent.title = "{% trans "Rate of C-section by the mother’s age" %}"
        $.jqplot('graph2', [second], jqplot_percent);
        jqplot_percent.title = "{% trans "Rate of C-section by the previous number of deliveries" %}"
        $.jqplot('graph3', [third], jqplot_percent);
    });
    </script>
{% endblock js %}