{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <table class="statistics">
            <tr>
                <td>{% trans "Overall:" %}</td>
                <td>{{ overall }}</td>
            </tr>
            <tr>
                <td>{% trans "Removed:" %}</td>
                <td>{{ counted }}</td>
            </tr>
            <tr>
                <td>{% trans "Counted:" %}</td>
                <td>{{ overall }}</td>
            </tr>
            <tr>
                <td>{% trans "C-section rate:" %}</td>
                <td>{{ indicator_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of planned C-section:" %}</td>
                <td>{{ subindicator_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section:" %}</td>
                <td>{{ subindicator_two|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is less than 20:" %}</td>
                <td>{{ subindicator_three_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is between 20-35:" %}</td>
                <td>{{ subindicator_three_two|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of c-section by the mother's age is more than 35:" %}</td>
                <td>{{ subindicator_three_three|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section by the previous number of deliveries first delivery:" %}</td>
                <td>{{ subindicator_four_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Rate of acute C-section by the previous number of deliveries first delivery one or more previous deliveries:" %}</td>
                <td>{{ subindicator_four_two|floatformat:"2" }}%</td>
            </tr>
        </table>
        <br />
        <a href="{% url report_forms %}"><- {% trans "Back" %}</a>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
    <script style="text/javascript">
    var DataForGraph = new Array(
        ["{{ indicator_one|floatformat:"2" }}".replace(",","."), 'C-section rate','red'],
        ["{{ subindicator_one|floatformat:"2" }}".replace(",","."),'Planned rate','green'],
        ["{{ subindicator_two|floatformat:"2" }}".replace(",","."),'Acute rate','blue'],
        ["{{ subindicator_three_one|floatformat:"2" }}".replace(",","."),"<20 rate",'cyan'],
        ["{{ subindicator_three_two|floatformat:"2" }}".replace(",","."),"20-35 rate", 'black'],
        ["{{ subindicator_three_three|floatformat:"2" }}".replace(",","."),">35 rate", 'gray'],
        ["{{ subindicator_four_one|floatformat:"2" }}".replace(",","."),"prev delivery", 'gray'],
        ["{{ subindicator_four_two|floatformat:"2" }}".replace(",","."),"c-sec delivery", 'gray']
    );
    $('.bargraph').jqBarGraph({
                                data: DataForGraph,
                                postfix: '%',
                                width: 940,
                                barSpace: 80
    });
    </script>
{% endblock js %}