{% extends "form.html" %}
{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".jq_tool").tooltip()
            hideElements($('#id_antibiotic_given'), 'tr:nth-last-child(1)')
            showNextTwo($('#id_patient_allergy'))
            showNext( $('#id_preoperative_infection'), 1 )

//            $("#id_patient_allergy").change( function(){ showNext( $(this) ) } )

            addSuffix($(".size"), 'kg')
            addSuffix($(".milligramm"), 'mg')

            $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd" })
            $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" })
        })
        $('form').submit(function(ev){
            $(".size, .milligramm").each(function(){
                $(this).val($(this).val().replace(" mg",""))
                $(this).val($(this).val().replace(" kg",""))
            })
        })
    </script>
{% endblock js %}