{% extends "form.html" %}
{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".jq_tool").tooltip()

            showNext( $('#id_patient_allergy') )
            $("#id_patient_allergy").change(function(){showNext($(this))})

            addSuffix($(".size"), 'kg')
            addSuffix($(".milligramm"), 'mg')

            $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd" })
            $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" })
        })
    </script>
{% endblock js %}