{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c21_header.html" %}
{% endblock header %}

{% block content %}
    <table class="statistics">
        <thead>
            <tr>
                <td>{% trans "Name of the indicator" %}</td>
                <td>{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}</td>
                <td>{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}</td>
                {% if three %}<td>{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}</td>{% endif %}
            </tr>
        </thead>
        <tr>
            <td>{% trans "Overall:" %}</td>
            <td>{{ one.overall }}</td>
            <td>{{ two.overall }}</td>
            {% if three %}<td>{{ three.overall }}</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Removed:" %}</td>
            <td>{{ one.removed }}</td>
            <td>{{ two.removed }}</td>
            {% if three %}<td>{{ three.removed }}</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Counted:" %}</td>
            <td>{{ one.counted }}</td>
            <td>{{ two.counted }}</td>
            {% if three %}<td>{{ three.counted }}</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "I. criterion: Appropriate antibiotic drug" %}:</td>
            <td>{{ one.one|floatformat:"2" }}%</td>
            <td>{{ two.one|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.one|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "II. criterion: Appropriate dose" %}:</td>
            <td>{{ one.twoa|floatformat:"2" }}%</td>
            <td>{{ two.twoa|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.twoa|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "II/b criterion: Appropriate dose with weight" %}:</td>
            <td>{{ one.twob|floatformat:"2" }}%</td>
            <td>{{ two.twob|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.twob|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "III. criterion: Appropriate route of administration: intravenous administration" %}:</td>
            <td>{{ one.three|floatformat:"2" }}%</td>
            <td>{{ two.three|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.three|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "IV. criterion: Appropriate timing, within one hour of surgical wound incision" %}:</td>
            <td>{{ one.four|floatformat:"2" }}%</td>
            <td>{{ two.four|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.four|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "V. criterion: Appropriate timing" %}:</td>
            <td>{{ one.five|floatformat:"2" }}%</td>
            <td>{{ two.five|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.five|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Full compliance with criteria I-V" %}:</td>
            <td>{{ one.ten|floatformat:"2" }}%</td>
            <td>{{ two.ten|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.ten|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "% of misuse" %}:</td>
            <td>{{ one.six|floatformat:"2" }}%</td>
            <td>{{ two.six|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.six|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "% of overuse" %}:</td>
            <td>{{ one.seven|floatformat:"2" }}%</td>
            <td>{{ two.seven|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.seven|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "% of underuse" %}:</td>
            <td>{{ one.eight|floatformat:"2" }}%</td>
            <td>{{ two.eight|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.eight|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "% of single shot treatment" %}:</td>
            <td>{{ one.nine|floatformat:"2" }}%</td>
            <td>{{ two.nine|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.nine|floatformat:"2" }}%</td>{% endif %}
        </tr>
    </table>
    <div id="graph1" style="margin-top: 20px; height: 300px;"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first1 = [
                    ['{% trans "Full compliance with criteria I-V" %}', {{ one.ten }}],
                    ['{% trans "I. criterion" %}', {{ one.one }}],
                    ['{% trans "II. criterion" %}', {{ one.twoa }}],
                    ['{% trans "II/b criterion" %}', {{ one.twob }}],
                    ['{% trans "III. criterion" %}', {{ one.three }}],
                    ['{% trans "IV. criterion" %}', {{ one.four }}],
                    ['{% trans "V. criterion" %}', {{ one.five }}],
                    ['{% trans "% of misuse" %}', {{ one.six }}],
                    ['{% trans "% of overuse" %}', {{ one.seven }}],
                    ['{% trans "% of underuse" %}', {{ one.eight }}],
                    ['{% trans "% of single shot treatment" %}', {{ one.nine }}]
                ];
                var first2 = [
                    ['{% trans "Full compliance with criteria I-V" %}', {{ one.ten }}],
                    ['{% trans "I. criterion" %}', {{ two.one }}],
                    ['{% trans "II. criterion" %}', {{ two.twoa }}],
                    ['{% trans "II/b criterion" %}', {{ two.twob }}],
                    ['{% trans "III. criterion" %}', {{ two.three }}],
                    ['{% trans "IV. criterion" %}', {{ two.four }}],
                    ['{% trans "V. criterion" %}', {{ two.five }}],
                    ['{% trans "% of misuse" %}', {{ two.six }}],
                    ['{% trans "% of overuse" %}', {{ two.seven }}],
                    ['{% trans "% of underuse" %}', {{ two.eight }}],
                    ['{% trans "% of single shot treatment" %}', {{ two.nine }}]
                ];
                var first3 = [
                    ['{% trans "Full compliance with criteria I-V" %}', {{ three.ten }}],
                    ['{% trans "I. criterion" %}', {{ three.one }}],
                    ['{% trans "II. criterion" %}', {{ three.twoa }}],
                    ['{% trans "II/b criterion" %}', {{ three.twob }}],
                    ['{% trans "III. criterion" %}', {{ three.three }}],
                    ['{% trans "IV. criterion" %}', {{ three.four }}],
                    ['{% trans "V. criterion" %}', {{ three.five }}],
                    ['{% trans "% of misuse" %}', {{ three.six }}],
                    ['{% trans "% of overuse" %}', {{ three.seven }}],
                    ['{% trans "% of underuse" %}', {{ three.eight }}],
                    ['{% trans "% of single shot treatment" %}', {{ three.nine }}]
                ];
            {% endlocalize %}
            jqplot_percent.legend = { show: true }
            jqplot_percent.series = [{ label: '{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}' },{ label: '{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}' },{ label: '{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}' }]
            jqplot_percent.axes.xaxis.tickOptions.angle = -30
            $.jqplot('graph1', [first1,first2{% if three %},first3{% endif %}], jqplot_percent);
        });
    </script>
{% endblock js %}