{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c21_header.html" %}
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 30 cases." %}
    {% else %}
        <table class="statistics">
            <tr>
                <td>{% trans "Overall:" %}</td>
                <td>{{ overall }}</td>
            </tr>
            <tr>
                <td>{% trans "Removed:" %}</td>
                <td>{{ removed }}</td>
            </tr>
            <tr>
                <td>{% trans "Counted:" %}</td>
                <td>{{ counted }}</td>
            </tr>
            <tr>
                <td>{% trans "I. criterion: Appropriate antibiotic drug" %}:</td>
                <td>{{ one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "II. criterion: Appropriate dose" %}:</td>
                <td>{{ twoa|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "II/b criterion: Appropriate dose with weight" %}:</td>
                <td>{{ twob|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "III. criterion: Appropriate route of administration: intravenous administration" %}:</td>
                <td>{{ three|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "IV. criterion: Appropriate timing, within one hour of surgical wound incision" %}:</td>
                <td>{{ four|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "V. criterion: Appropriate timing: (discontinued within 24 hours after surgical wound closure – or documentation of appropriate clinical indication for continuation of treatment beyond 24 hours)" %}:</td>
                <td>{{ five|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Full compliance with criteria I-V" %}:</td>
                <td>{{ ten|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "% of misuse" %}:</td>
                <td>{{ six|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "% of overuse" %}:</td>
                <td>{{ seven|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "% of underuse" %}:</td>
                <td>{{ eight|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "% of single shot treatment" %}:</td>
                <td>{{ nine|floatformat:"2" }}%</td>
            </tr>
        </table>
        <div id="graph1" style="margin-top: 20px; height: 300px;"></div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first = [
                    ['{% trans "Full compliance with criteria I-V" %}', {{ ten }}],
                    ['{% trans "I. criterion" %}', {{ one }}],
                    ['{% trans "II. criterion" %}', {{ twoa }}],
                    ['{% trans "II/b criterion" %}', {{ twob }}],
                    ['{% trans "III. criterion" %}', {{ three }}],
                    ['{% trans "IV. criterion" %}', {{ four }}],
                    ['{% trans "V. criterion" %}', {{ five }}],
                    ['{% trans "% of misuse" %}', {{ six }}],
                    ['{% trans "% of overuse" %}', {{ seven }}],
                    ['{% trans "% of underuse" %}', {{ eight }}],
                    ['{% trans "% of single shot treatment" %}', {{ nine }}]
                ];
            {% endlocalize %}
            jqplot_percent.seriesDefaults.rendererOptions = { varyBarColor : true }
            jqplot_percent.seriesColors = ["red", "#027997", "#027997", "#027997", "#027997", "#027997", "#027997", "#027997", "#027997", "#027997", "#027997"]
            jqplot_percent.axes.xaxis.tickOptions.angle = -30
            jqplot_percent.title = "{% trans "Rate of patients prescribed to take platelet aggregation inhibitor therapy medication" %}"
            $.jqplot('graph1', [first], jqplot_percent);
        });
    </script>
{% endblock js %}