{% extends "form.html" %}
{% load i18n %}
{% block header %}
    {% include "c24_header.html" %}
{% endblock header %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var MedicineOptions = [
                {% for medicine in medicines %}
                    "{{ medicine }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
            $("#id_name_of_first_dose").autocomplete({
                source: MedicineOptions
            })
            $("#id_name_of_second_dose").autocomplete({
                source: MedicineOptions
            })
            $(".jq_tool").tooltip()
            hideElements($('#id_antibiotic_given'), 'tr:nth-last-child(1)')
            showNextTwo($('#id_patient_allergy'))
            showNext( $('#id_preoperative_infection'), 1)

//            $("#id_patient_allergy").change( function(){ showNext( $(this) ) } )

            addSuffix($(".size"), 'kg')
            addSuffix($(".milligramm"), 'mg')

            $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })
            $(".datepicker").datepicker({ dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })
        })
        $('form').submit(function(ev){
            $(".size, .milligramm").each(function(){
                $(this).val($(this).val().replace(" mg",""))
                $(this).val($(this).val().replace(" kg",""))
            })
        })
    </script>
{% endblock js %}