/* main.scss */
/* mixins.scss */
/* _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 12px;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* content.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma" , sans-serif;
  font-size: 11px;
  color: #414141;
  background: #FFF; }

p {
  line-height: 1.2em;
  text-align: justify;
  color: #414141;
  padding-bottom: 5px; }

img {
  border: none; }

#page {
  width: 990px;
  margin: 0 auto; }

#top {
  width: 990px;
  height: 205px;
  margin-bottom: 25px;
  background: white url("../images/bgr_top.jpg") top left no-repeat; }

#menu_bgr {
  width: 990px;
  height: 63px;
  background: white url("../images/bgr_menu.png") top left no-repeat;
  position: relative; }

#menu {
  width: 652px;
  height: 21px;
  float: right;
  padding-right: 9px; }

#menu ul {
  padding-top: 42px;
  float: right; }

#menu ul li {
  height: 21px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#menu ul li a {
  height: 21px;
  display: block; }

#menu ul li a {
  color: white;
  padding-left: 30px;
  padding-top: 3px;
  text-transform: uppercase;
  font-weight: bold; }
  #menu ul li a:hover {
    color: #c5d900; }

#logos {
  width: 292px;
  height: 155px;
  float: left;
  margin: 17px 0 0 27px; }

#logos img {
  float: left; }

#logo_path {
  margin: 0 0 5px 137px; }

#content2_home {
  width: 950px;
  padding: 10px;
  text-align: center;
  background-color: #e5e5e5;
  margin: 40px 0 25px 0; }

.error input, .error select {
  border: 1px solid red; }

a {
  color: black;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #c5d900; }

#report_forms {
  width: 80%;
  margin: 0 auto; }
  #report_forms td {
    padding: 0 20px 10px 0; }
    #report_forms td img {
      height: 32px; }
    #report_forms td:first-child {
      width: 95%;
      text-align: left;
      vertical-align: middle; }

.report_form {
  margin: 0 auto; }
  .report_form td {
    text-align: left; }
    .report_form td:first-child {
      width: 350px; }

select[multiple="multiple"] {
  width: 150px;
  height: 120px; }

#language_selector {
  position: absolute;
  top: 28px;
  left: 880px; }
  #language_selector li {
    display: inline-block;
    padding-left: 10px; }
    #language_selector li a {
      font-size: 11px;
      text-decoration: none; }

#header_login_form {
  position: absolute;
  padding: 5px;
  margin: 20px 0 20px 200px;
  width: 260px;
  background-color: #0d4f92;
  border: 1px solid #87ceeb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  #header_login_form .login_button {
    position: absolute;
    margin-left: 160px;
    margin-top: -51px;
    width: 100px;
    height: 50px;
    background-color: #87ceeb;
    border: 1px solid #add8e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
