{% extends "form.html" %}
{% load i18n %}
{% block header %}
    {% include "c31_header.html" %}
{% endblock header %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".jq_tool").tooltip()
    $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })
})

</script>
{% endblock js %}