{% extends "form.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "C.3.2. 30-day in-hospital mortality of patients admitted with acute stroke" %}</div>{% endblock header %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".jq_tool").tooltip()
    $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd" })
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" })
})

</script>
{% endblock js %}