{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c13_header.html" %}
{% endblock header %}

{% block content %}
    <table class="needle shorter">
        <tr>
            <th rowspan="2">{% trans "Job" %}</th>
            <th colspan="{{ statistics|length }}">{% trans "Number of needle stick injuries to 100 workers (average number)" %}</th>
            <th colspan="{{ statistics|length }}">{% trans "Number of needle stick injuries to 100 workers (FTE = full time equivalent)" %}</th>
        </tr>
        <tr>
            {% for stat in statistics.name %}
                <th style="color: {% if user.get_profile.workplace.codename == stat %}red{% else %}{% if user.get_profile.workplace.country.printable_name == stat %}orange{% else %}#027997{% endif %}{% endif %}">{{ stat }}</th>
            {% endfor %}
        </tr>
        {% for stat in statistics.jobs %}
            <tr>
                {% for job in stat %}
                    {% if forloop.first %}
                        <td>{{ job }}</td>
                    {% else %}
                        <td>{{ job|floatformat:"2" }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div id="avg" style="margin-top: 20px; height: 200px;"></div>
    <div id="fte" style="margin-top: 20px; height: 200px;"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script style="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                {% for job in graph %}{% for j in job.statistics.jobs %}
                        var first{{ job.name }}{{ forloop.counter }} = [
                            ["{{ j.0 }}", {{ j.1 }}]
                        ]
                        var second{{ job.name }}{{ forloop.counter }} = [
                            ["{{ j.0 }}", {{ j.2 }}]
                        ]
                    {% endfor %}{% endfor %}
            {% endlocalize %}
            jqplot_percent.axes.yaxis.label = ""
            jqplot_percent.axes.yaxis.ticks = ""
            jqplot_percent.highlighter.formatString = "%.2f"
            jqplot_percent.legend = { show: true }
            jqplot_percent.series = [{% for job in graph %}{% for j in job.statistics.jobs %}{ label: '{{ job.name }}' }, {% endfor %}{% endfor %}]
            jqplot_percent.seriesColors = [{% for job in graph %}{% for j in job.statistics.jobs %}{% if user.get_profile.workplace.codename == job.name %}"red",{% else %}{% if user.get_profile.workplace.country.printable_name == job.name %}"orange",{% else %}'#027997',{% endif %}{% endif %}{% endfor %}{% endfor %}]
            jqplot_percent.title = "{% trans "Number of needle stick injuries to 100 workers (average number)" %}"
            $.jqplot('avg', [{% for job in graph %}{% for j in job.statistics.jobs %}first{{ job.name }}{{ forloop.counter }},{% endfor %}{% endfor %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Number of needle stick injuries to 100 workers (FTE = full time equivalent)" %}"
            $.jqplot('fte', [{% for job in graph %}{% for j in job.statistics.jobs %}second{{ job.name }}{{ forloop.counter }},{% endfor %}{% endfor %}], jqplot_percent);
        });
    </script>
{% endblock js %}