{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c13_header.html" %}
{% endblock header %}

{% block content %}
    <table class="needle">
        <tr>
            <th>{% trans "Job" %}</th>
            <th>{% trans "Number of needle stick injuries to 100 workers (average number)" %}</th>
            <th>{% trans "Number of needle stick injuries to 100 workers (FTE = full time equivalent)" %}</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job.0 }}</td>
            <td>{{ job.1|floatformat:"2" }}</td>
            <td>{{ job.2|floatformat:"2" }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="avg" style="margin-top: 20px; height: 200px;"></div>
    <div id="fte" style="margin-top: 20px; height: 200px;"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script style="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first = [
                    {% for job in jobs %}
                        ["{{ job.0 }}", {{ job.1 }}],
                    {% endfor %}
                ];
                var second = [
                    {% for job in jobs %}
                        ["{{ job.0 }}", {{ job.2 }}],
                    {% endfor %}
                ];
            {% endlocalize %}
            jqplot_percent.axes.yaxis.label = ""
            jqplot_percent.title = "{% trans "Number of needle stick injuries to 100 workers (average number)" %}"
            jqplot_percent.axes.yaxis.ticks = ""
            jqplot_percent.highlighter.formatString = "%.2f"
            $.jqplot('avg', [first], jqplot_percent);
            jqplot_percent.title = "{% trans "Number of needle stick injuries to 100 workers (FTE = full time equivalent)" %}"
            $.jqplot('fte', [second], jqplot_percent);
        });
    </script>
{% endblock js %}