{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c20_header.html" %}
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 30 cases." %}
    {% else %}
        <table class="statistics">
            <tr>
                <td>{% trans "Overall:" %}</td>
                <td>{{ overall }}</td>
            </tr>
            <tr>
                <td>{% trans "Removed:" %}</td>
                <td>{{ removed }}</td>
            </tr>
            <tr>
                <td>{% trans "Counted:" %}</td>
                <td>{{ counted }}</td>
            </tr>
            <tr>
                <td>{% trans "Patient prescribed at discharge to take aspirin" %}:</td>
                <td>{{ indicator_one|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Patient prescribed to take other (non-aspirin-containing) platelet aggregation inhibitor therapy" %}:</td>
                <td>{{ indicator_two|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Patient prescribed to take aspirin or other (non-aspirin-containing) platelet aggregation inhibitor therapy" %}:</td>
                <td>{{ indicator_three|floatformat:"2" }}%</td>
            </tr>
        </table>
        <div id="graph1" style="margin-top: 20px; height: 150px;"></div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first = [
                    ['{% trans "Aspirin" %}', {{ indicator_one }}],
                    ['{% trans "Other platelet aggregation inibitor th" %}', {{ indicator_two }}],
                    ['{% trans "Aspirin or other platelet aggregation th" %}', {{ indicator_three }}]
                ];
            {% endlocalize %}
            jqplot_percent.title = "{% trans "Rate of patients prescribed to take platelet aggregation inhibitor therapy medication" %}"
            $.jqplot('graph1', [first], jqplot_percent);
        });
    </script>
{% endblock js %}