{% extends "base.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "C.20. AMI patients prescribed aspirin at discharge" %}</div>{% endblock header %}

{% block content %}
    <table class="statistics">
        <tr>
            <td>{% trans "Overall:" %}</td>
            <td>{{ overall }}</td>
        </tr>
        <tr>
            <td>{% trans "Removed:" %}</td>
            <td>{{ counted }}</td>
        </tr>
        <tr>
            <td>{% trans "Counted:" %}</td>
            <td>{{ overall }}</td>
        </tr>
        <tr>
            <td>{% trans "Patient prescribed at discharge to take aspirin:" %}</td>
            <td>{{ indicator_one|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Patient prescribed to take other (non-aspirin-containing) platelet aggregation inhibitor therapy:" %}</td>
            <td>{{ indicator_two|floatformat:"2" }}%</td>
        </tr>
        <tr>
            <td>{% trans "Patient prescribed to take aspirin or other (non-aspirin-containing) platelet aggregation inhibitor therapy:" %}</td>
            <td>{{ indicator_three|floatformat:"2" }}%</td>
        </tr>
    </table>
    <br />
    <a href="{% url report_forms %}"><- {% trans "Back" %}</a>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
    <script style="text/javascript">
    var DataForGraph = new Array(
        ["{{ indicator_one|floatformat:"2" }}".replace(",","."), '30 days','red'],
        ["{{ subindicator_one|floatformat:"2" }}".replace(",","."),'30 days wo trans','green'],
        ["{{ subindicator_two|floatformat:"2" }}".replace(",","."),'2 days','blue']
    );
    $('.bargraph').jqBarGraph({
                                data: DataForGraph,
                                postfix: '%',
                                width: 940,
                                barSpace: 80
    });
    </script>
{% endblock js %}