{% extends "form.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "R1. indicators for rehabilitation hospitals and departments" %}</div>
    <div id="content_helper">
        <table>
            <tr>
                <td><a href="{% url report_forms %}"><img src="{{ STATIC_URL }}/images/white.appbar.arrow.left.png" title="{% trans "Report Forms" %}" /></a></td>
                <td><a href="{% url r1_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
                <td><a href="{% url r1_stat %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
                <td><a href="{% url r1_import %}"><img src="{{ STATIC_URL }}/images/white.appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
                <td><a href="{% url r1_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/r1a.xlsx"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
                <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
            </tr>
        </table>
    </div>
{% endblock header %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".jq_tool").tooltip()
    showNextTwo($("#id_FIM_applied"))
    showNextTwo($("#id_BI_applied"))
    showNextTwo($("#id_SMWT_applied"))
    showNextTwo($("#id_SF_applied"))
    showNextTwo($("#id_SAT_applied"))
    showNextTwo($("#id_FEV_applied"))
    showNextTwo($("#id_AI_applied"))
    showNextTwo($("#id_SNC_applied"))
    showNextTwo($("#id_SCI_applied"))
    showNextThree($("#id_Other_applied"))

    showNext($('#id_discharge'))

    showNextTwo($("#id_FIM_applied_discharge"))
    showNextTwo($("#id_BI_applied_discharge"))
    showNextTwo($("#id_SMWT_applied_discharge"))
    showNextTwo($("#id_SF_applied_discharge"))
    showNextTwo($("#id_SAT_applied_discharge"))
    showNextTwo($("#id_FEV_applied_discharge"))
    showNextTwo($("#id_AI_applied_discharge"))
    showNextTwo($("#id_SNC_applied_discharge"))
    showNextTwo($("#id_SCI_applied_discharge"))
    showNextThree($("#id_Other_applied_discharge"))

    $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true })
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true })
})

</script>
{% endblock js %}