{% load i18n %}
<div id="content_home">{% trans "R1. indicators for rehabilitation hospitals and departments" %}</div>
<div id="content_helper">
    <table>
        <tr>
            <td><a href="{% url report_forms %}"><img src="{{ STATIC_URL }}/images/white.appbar.arrow.left.png" title="{% trans "Report Forms" %}" /></a></td>
            <td><a href="{% url r1_display %}"><img src="{{ STATIC_URL }}/images/white.appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url r1_stat %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url r1_trend %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.line.up.png" title="{% trans "R1 Trend" %}" /></a> <a href="{% url r2_trend %}"><img src="{{ STATIC_URL }}/images/white.appbar.graph.line.up.png" title="{% trans "R2 Trend" %}" /></a></td>
            <td><a href="{% url r1_import %}"><img src="{{ STATIC_URL }}/images/white.appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url r1_export %}"><img src="{{ STATIC_URL }}/images/white.appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url r1_template %}"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/r1a.xlsx"><img src="{{ STATIC_URL }}/images/white.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/white.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
    </table>
</div>