{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "r1_header.html" %}
{% endblock header %}

{% block content %}
    {% if r1acounted < 60 %}
        {% trans "Sorry, you have less than 60 cases for R1/A." %} <br /><br />
    {% else %}
        <table class="los">
            <tr>
                <th colspan="2">{% trans "Functional assessment at admission" %}</th>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 7 days of admission" %}</td>
                <td>{{ r1a1|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 2 days of admission" %}</td>
                <td>{{ r1a2|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 3 days of admission" %}</td>
                <td>{{ r1a3|floatformat:"2" }}%</td>
            </tr>
        </table>
    {% endif %}
    {% if r1bcounted < 60 %}
        {% trans "Sorry, you have less than 60 cases for R1/B." %} <br /><br />
    {% else %}
        <table class="los">
            <tr>
                <th colspan="2">{% trans "Functional assessment prior to discharge" %}</th>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 3 days prior to discharge" %}</td>
                <td>{{ r1b1|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 1 days prior to discharge" %}</td>
                <td>{{ r1b2|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 2 days prior to discharge" %}</td>
                <td>{{ r1b3|floatformat:"2" }}%</td>
            </tr>
        </table>
    {% endif %}
    {% if r2counted < 60 %}
        {% trans "Sorry, you have less than 60 cases for R2." %} <br /><br />
    {% else %}
        <table class="los">
            <tr>
                <th colspan="2">{% trans "Unplanned interruption to rehabilitation program" %}</th>
            </tr>
            <tr>
                <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly" %}</td>
                <td>{{ r21|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of an acute illness independent from the original disease" %}</td>
                <td>{{ r22|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly on the demand of patient/family" %}</td>
                <td>{{ r23|floatformat:"2" }}%</td>
            </tr>
            <tr>
                <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of a complication of the original disease" %}</td>
                <td>{{ r24|floatformat:"2" }}%</td>
            </tr>
        </table>
    {% endif %}
    <div id="graph1" style="margin-top: 20px; height: 700px"></div>
    <div id="graph2" style="margin-top: 20px; height: 700px"></div>
    <div id="graph3" style="margin-top: 20px; height: 700px"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first = [
                    {% if r1acounted >= 60 %}
                        ['{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 7 days of admission" %}', {{ r1a1 }}],
                        ['{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 2 days of admission" %}', {{ r1a2 }}],
                        ['{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 3 days of admission" %}', {{ r1a3 }}],
                    {% endif %}
                ];
                var second = [
                    {% if r1bcounted >= 60 %}
                        ['{% trans "Percentage of patients who have documented evidence of functional assessment in 3 days prior to discharge" %}', {{ r1b1 }}],
                        ['{% trans "Percentage of patients who have documented evidence of functional assessment in 1 days prior to discharge" %}', {{ r1b2 }}],
                        ['{% trans "Percentage of patients who have documented evidence of functional assessment in 2 days prior to discharge" %}', {{ r1b3 }}],
                    {% endif %}
                    ];
                var third = [
                    {% if r2counted >= 60 %}
                        ['{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly" %}', {{ r21 }}],
                        ['{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of an acute illness independent from the original disease" %}', {{ r22 }}],
                        ['{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly on the demand of patient/family" %}', {{ r23 }}],
                        ['{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of a complication of the original disease" %}', {{ r24 }}]
                    {% endif %}
                ];
            {% endlocalize %}
            jqplot_percent.axes.xaxis.tickOptions.angle = -30
            $.jqplot('graph1', [first], jqplot_percent);
            $.jqplot('graph2', [second], jqplot_percent);
            $.jqplot('graph3', [third], jqplot_percent);
        });
    </script>
{% endblock js %}