{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "r1_header.html" %}
{% endblock header %}

{% block content %}
        <table class="los">
            <tr>
                <th>{% trans "Functional assessment at admission" %}</th>
                <th>{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}</th>
                <th>{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}</th>
                {% if three %}<th>{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}</th>{% endif %}
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 7 days of admission" %}</td>
                <td>{{ one.r1a1|floatformat:"2" }}%</td>
                <td>{{ two.r1a1|floatformat:"2" }}%</td>
                {% if three %}<td>{{ three.r1a1|floatformat:"2" }}%</td>{% endif %}
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 2 days of admission" %}</td>
                <td>{{ one.r1a2|floatformat:"2" }}%</td>
                <td>{{ two.r1a2|floatformat:"2" }}%</td>
                {% if three %}<td>{{ three.r1a2|floatformat:"2" }}%</td>{% endif %}
            </tr>
            <tr>
                <td>{% trans "Percentage of patients who have documented functional assessment at admission to an inpatient unit for rehabilitation program within 3 days of admission" %}</td>
                <td>{{ one.r1a3|floatformat:"2" }}%</td>
                <td>{{ two.r1a3|floatformat:"2" }}%</td>
                {% if three %}<td>{{ three.r1a3|floatformat:"2" }}%</td>{% endif %}
            </tr>
        </table>

    <table class="los">
        <tr>
            <th>{% trans "Functional assessment prior to discharge" %}</th>
            <th>{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}</th>
            <th>{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}</th>
            {% if three %}<th>{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}</th>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 3 days prior to discharge" %}</td>
            <td>{{ one.r1b1|floatformat:"2" }}%</td>
            <td>{{ two.r1b1|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r1b1|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 1 days prior to discharge" %}</td>
            <td>{{ one.r1b2|floatformat:"2" }}%</td>
            <td>{{ two.r1b2|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r1b2|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of patients who have documented evidence of functional assessment in 2 days prior to discharge" %}</td>
            <td>{{ one.r1b3|floatformat:"2" }}%</td>
            <td>{{ two.r1b3|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r1b3|floatformat:"2" }}%</td>{% endif %}
        </tr>
    </table>

    <table class="los">
        <tr>
            <th>{% trans "Unplanned interruption to rehabilitation program" %}</th>
            <th>{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}</th>
            <th>{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}</th>
            {% if three %}<th>{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}</th>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly" %}</td>
            <td>{{ one.r21|floatformat:"2" }}%</td>
            <td>{{ two.r21|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r21|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of an acute illness independent from the original disease" %}</td>
            <td>{{ one.r22|floatformat:"2" }}%</td>
            <td>{{ two.r22|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r22|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly on the demand of patient/family" %}</td>
            <td>{{ one.r23|floatformat:"2" }}%</td>
            <td>{{ two.r23|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r23|floatformat:"2" }}%</td>{% endif %}
        </tr>
        <tr>
            <td>{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly because of a complication of the original disease" %}</td>
            <td>{{ one.r24|floatformat:"2" }}%</td>
            <td>{{ two.r24|floatformat:"2" }}%</td>
            {% if three %}<td>{{ three.r24|floatformat:"2" }}%</td>{% endif %}
        </tr>
    </table>
    <div id="graph1" style="margin-top: 20px; height: 200px;"></div>
    <div id="graph2" style="margin-top: 20px; height: 200px;"></div>
    <div id="graph3" style="margin-top: 20px; height: 200px;"></div>
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first1 = [
                    ['{% trans "in 7 days" %}', {{ one.r1a1 }}],
                    ['{% trans "in 2 days" %}', {{ one.r1a2 }}],
                    ['{% trans "in 3 days" %}', {{ one.r1a3 }}]
                ];
                var first2 = [
                    ['{% trans "in 7 days" %}', {{ two.r1a1 }}],
                    ['{% trans "in 2 days" %}', {{ two.r1a2 }}],
                    ['{% trans "in 3 days" %}', {{ two.r1a3 }}]
                ];
                {% if three %}
                    var first3 = [
                        ['{% trans "in 7 days" %}', {{ three.r1a1 }}],
                        ['{% trans "in 2 days" %}', {{ three.r1a2 }}],
                        ['{% trans "in 3 days" %}', {{ three.r1a3 }}]
                    ];
                {% endif %}
                var second1 = [
                    ['{% trans "in 3 days" %}', {{ one.r1b1 }}],
                    ['{% trans "in 1 days" %}', {{ one.r1b2 }}],
                    ['{% trans "in 2 days" %}', {{ one.r1b3 }}]
                ];
                var second2 = [
                    ['{% trans "in 3 days" %}', {{ two.r1b1 }}],
                    ['{% trans "in 1 days" %}', {{ two.r1b2 }}],
                    ['{% trans "in 2 days" %}', {{ two.r1b3 }}]
                ];
                {% if three %}
                    var second3 = [
                        ['{% trans "in 3 days" %}', {{ three.r1b1 }}],
                        ['{% trans "in 1 days" %}', {{ three.r1b2 }}],
                        ['{% trans "in 2 days" %}', {{ three.r1b3 }}]
                    ];
                {% endif %}
                var third1 = [
                    ['{% trans "total" %}', {{ one.r21 }}],
                    ['{% trans "due to acute illness" %}', {{ one.r22 }}],
                    ['{% trans "due to patient/ family demand" %}', {{ one.r23 }}],
                    ['{% trans "due to complications of the original disease" %}', {{ one.r24 }}]
                ];
                var third2 = [
                    ['{% trans "total" %}', {{ two.r21 }}],
                    ['{% trans "due to acute illness" %}', {{ two.r22 }}],
                    ['{% trans "due to patient/ family demand" %}', {{ two.r23 }}],
                    ['{% trans "due to complications of the original disease" %}', {{ two.r24 }}]
                ];
                {% if three %}
                    var third3 = [
                        ['{% trans "total" %}', {{ three.r21 }}],
                        ['{% trans "due to acute illness" %}', {{ three.r22 }}],
                        ['{% trans "due to patient/ family demand" %}', {{ three.r23 }}],
                        ['{% trans "due to complications of the original disease" %}', {{ three.r24 }}]
                    ];
                {% endif %}
            {% endlocalize %}
            jqplot_percent.title = "{% trans "Percentage of patients who have documented functional assessment at admission to rehabilitation" %}"
            $.jqplot('graph1', [first1,first2{% if three %},first3{% endif %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Percentage of patients who have documented evidence of functional assessment prior to discharge" %}"
            $.jqplot('graph2', [second1,second2{% if three %},second3{% endif %}], jqplot_percent);
            jqplot_percent.title = "{% trans "Percentage of those patients whose rehabilitation program interrupted unexpectedly" %}"
            $.jqplot('graph3', [third1,third2{% if three %},third3{% endif %}], jqplot_percent);
        });
    </script>
{% endblock js %}