{% extends "form.html" %}
{% load i18n %}
{% block header %}
    {% include "c8_header.html" %}
{% endblock header %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.tooltip.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".jq_tool").tooltip()
    showNext($('#id_was_surgical_procedure'), 1);
    $(".datetimepicker").datetimepicker({ timeFormat: "h:mm", dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "1900:c" })

    $("#id_drg option:first").remove();
    $("#id_icd option:first").remove();
})
</script>
{% endblock js %}