{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c8_header.html" %}
{% endblock header %}

{% block content %}
    <table class="statistics">
        <thead>
            <tr>
                <td>{% trans "Name of the indicator" %}</td>
                {% for stat in statistics %}
                    <td style="color: {% if user.get_profile.workplace.codename == stat.name %}red{% else %}{% if user.get_profile.workplace.country.printable_name == stat.name %}orange{% else %}#027997{% endif %}{% endif %}">{{ stat.name }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tr>
            <td>{% trans "Overall:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.overall}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Excluded:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.removed}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>{% trans "Counted:" %}</td>
            {% for stat in statistics %}
                <td>{{ stat.statistics.counted}}</td>
            {% endfor %}
        </tr>
    </table>
    <br /><hr /><br />
    {% for data in datapacket %}
        {% if data.len >= 60 %}
            <table class="los longer">
                <tr>
                    <th>{{ data.name }}</th>
                    {% for stat in statistics %}
                        <th style="color: {% if user.get_profile.workplace.codename == stat.name %}red{% else %}{% if user.get_profile.workplace.country.printable_name == stat.name %}orange{% else %}#027997{% endif %}{% endif %}">{{ stat.name }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Average length of stay" %}</td>
                    {% for d in data.avg %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Median length of stay" %}</td>
                    {% for d in data.med %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Average length of stay until the first surgical procedure" %}</td>
                    {% for d in data.davg %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Median length of stay until the first surgical procedure" %}</td>
                    {% for d in data.dmed %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% trans "Average length of stay from the first surgical procedure until discharge" %}</td>
                    {% for d in data.deavg %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <td>{% trans "Median length of stay from the first surgical procedure until discharge" %}</td>
                    {% for d in data.demed %}
                        <td>{{ d|floatformat:"2" }} {% trans "days" %}</td>
                    {% endfor %}
                </tr>
            </table>
            <div id="graph{{ forloop.counter }}-avg" style="margin-top: 20px; height: 300px;"></div>
            <div id="graph{{ forloop.counter }}-med" style="margin-top: 20px; height: 300px;"></div>
            <div id="graph{{ forloop.counter }}-davg" style="margin-top: 20px; height: 300px;"></div>
            <div id="graph{{ forloop.counter }}-dmed" style="margin-top: 20px; height: 300px;"></div>
            <div id="graph{{ forloop.counter }}-deavg" style="margin-top: 20px; height: 300px;"></div>
            <div id="graph{{ forloop.counter }}-demed" style="margin-top: 20px; height: 300px;"></div>
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
                    {% localize off %}
                        {% for data in datapacket %}{% if data.len >= 60 %}{% for d in data.avg %}
                                    var data_avg_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Average" %}', {{ d }}]
                                    ]
                                {% endfor %}
                                {% for d in data.med %}
                                    var data_med_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Median" %}', {{ d }}]
                                    ]
                                {% endfor %}
                                {% for d in data.davg %}
                                    var data_davg_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Average until the first surgical procedure" %}', {{ d }}]
                                    ]
                                {% endfor %}
                                {% for d in data.dmed %}
                                    var data_dmed_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Median until the first surgical procedure" %}', {{ d }}]
                                    ]
                                {% endfor %}
                                {% for d in data.deavg %}
                                    var data_deavg_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Average from the first surgical procedure until discharge" %}', {{ d }}]
                                    ]
                                {% endfor %}
                                {% for d in data.demed %}
                                    var data_demed_{{ data.slug|slugify }}{{ forloop.counter }} = [
                                        ['{% trans "Median from the first surgical procedure until discharge" %}', {{ d }}]
                                    ]
                        {% endfor %}{% endif %}{% endfor %}
                    {% endlocalize %}
                    jqplot_days.legend = { show: true }
                    jqplot_days.series = [{% for stat in statistics %}{ label: '{{ stat.name }}' }, {% endfor %}]
                    jqplot_days.seriesColors = [{% for stat in statistics %}{% if user.get_profile.workplace.codename == stat.name %}"red",{% else %}{% if user.get_profile.workplace.country.printable_name == stat.name %}"orange",{% else %}'#027997',{% endif %}{% endif %}{% endfor %}]
                    jqplot_days.axes.yaxis.tickOptions.formatString = "%.2f"
                    jqplot_days.axes.xaxis.tickOptions.angle = 0
                    jqplot_days.highlighter.formatString = '<span class="font-size: 12px">%.2f {% trans "days" %}</span>'
                    {% for data in datapacket %}
                        {% if data.len >= 60 %}
                            jqplot_days.title = "{{ data.name }}"
                            $.jqplot('graph{{ forloop.counter }}-avg', [{% for d in data.avg %}data_avg_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                            $.jqplot('graph{{ forloop.counter }}-med', [{% for d in data.avg %}data_med_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                            $.jqplot('graph{{ forloop.counter }}-davg', [{% for d in data.avg %}data_davg_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                            $.jqplot('graph{{ forloop.counter }}-dmed', [{% for d in data.avg %}data_dmed_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                            $.jqplot('graph{{ forloop.counter }}-deavg', [{% for d in data.avg %}data_deavg_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                            $.jqplot('graph{{ forloop.counter }}-demed', [{% for d in data.avg %}data_demed_{{ data.slug|slugify }}{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}], jqplot_days);
                        {% endif %}
                    {% endfor %}
        });
    </script>
{% endblock js %}