{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c8_header.html" %}
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 60 cases." %}
    {% else %}
        {% trans "Overall:" %} {{ overall }}<br />
        {% trans "Excluded:" %} {{ removed }}<br />
        {% trans "Counted:" %} {{ counted }}<br />

        {% for data in diagnosis %}
            {% if data.9 >= 60 %}
                <table class="los">
                    <tr>
                        <th>{{ data.0 }}</th>
                        <th>{{ data.1 }} - {{ data.2 }}</th>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay" %}</td>
                        <td>{{ data.3|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay" %}</td>
                        <td>{{ data.4|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay until the first surgical procedure" %}</td>
                        <td>{{ data.5|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay until the first surgical procedure" %}</td>
                        <td>{{ data.6|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay from the first surgical procedure until discharge" %}</td>
                        <td>{{ data.7|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay from the first surgical procedure until discharge" %}</td>
                        <td>{{ data.8|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                </table>
                <div id="graph{{ forloop.counter }}" style="margin-top: 20px; height: 300px;"></div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% for data in diagnosis %}
                {% if data.9 >= 60 %}
                    {% localize off %}
                        var data{{ forloop.counter }} = [
                            ['{% trans "Average length of stay" %}', {{ data.3 }}],
                            ['{% trans "Median length of stay" %}', {{ data.4 }}],
                            ['{% trans "Average length of stay until the first surgical procedure" %}', {{ data.5 }}],
                            ['{% trans "Median length of stay until the first surgical procedure" %}', {{ data.6 }}],
                            ['{% trans "Average length of stay from the first surgical procedure until discharge" %}', {{ data.7 }}],
                            ['{% trans "Median length of stay from the first surgical procedure until discharge" %}', {{ data.8 }}]
                        ];
                    {% endlocalize %}
                    jqplot_days.axes.yaxis.tickOptions.formatString = "%.2f"
                    jqplot_days.highlighter.formatString = '<span class="font-size: 12px">%.2f {% trans "days" %}</span>'
                    jqplot_days.legend = { show: true }
                    jqplot_days.series = [{ label: '{{ form.date1a|date:"Y-m-d" }} - {{ form.date1b|date:"Y-m-d" }}' },{ label: '{{ form.date2a|date:"Y-m-d" }} - {{ form.date2b|date:"Y-m-d" }}' },{ label: '{{ form.date3a|date:"Y-m-d" }} - {{ form.date3b|date:"Y-m-d" }}' }]
                    $.jqplot('graph{{ forloop.counter }}', [data{{ forloop.counter }}], jqplot_days);
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock js %}