{% extends "base.html" %}
{% load i18n %}
{% block header %}<div id="content_home">{% trans "C.8. Length of Stay" %}</div>{% endblock header %}

{% block content %}
    {% trans "Overall:" %} {{ overall }}<br />
    {% trans "Removed:" %} {{ removed }}<br />
    {% trans "Counted:" %} {{ counted }}<br />

    {% for data in diagnosis %}
        {% if data.9 %}
        <table class="los">
            <tr>
                <th>{{ data.0 }}</th>
                <th>{{ data.1 }} - {{ data.2 }}</th>
            </tr>
            <tr>
                <td>{% trans "Average length of stay" %}</td>
                <td>{{ data.3 }}</td>
            </tr>
            <tr>
                <td>{% trans "Median length of stay" %}</td>
                <td>{{ data.4 }}</td>
            </tr>
            <tr>
                <td>{% trans "Average length of stay until the first surgical procedure" %}</td>
                <td>{{ data.5 }}</td>
            </tr>
            <tr>
                <td>{% trans "Median length of stay until the first surgical procedure" %}</td>
                <td>{{ data.6 }}</td>
            </tr>
            <tr>
                <td>{% trans "Average length of stay from the first surgical procedure until discharge" %}</td>
                <td>{{ data.7 }}</td>
            </tr>
            <tr>
                <td>{% trans "Median length of stay from the first surgical procedure until discharge" %}</td>
                <td>{{ data.8 }}</td>
            </tr>
        </table>
        {% endif %}
    {% endfor %}


{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.bargraph.min.js"></script>
    <script style="text/javascript">
    </script>
{% endblock js %}