{% extends "base.html" %}
{% load i18n l10n %}
{% block header %}
    {% include "c8_header.html" %}
{% endblock header %}

{% block content %}
    {% if not_enough %}
        {% trans "Sorry, you have less than 60 cases." %}
    {% else %}
        {% trans "Overall:" %} {{ overall }}<br />
        {% trans "Excluded:" %} {{ removed }}<br />
        {% trans "Counted:" %} {{ counted }}<br />

        {% for data in diagnosis %}
            {% if data.9 >= 60 %}
                <table class="los">
                    <tr>
                        <th>{{ data.0 }}</th>
                        <th>{{ data.1 }} - {{ data.2 }}</th>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay" %}</td>
                        <td>{{ data.3|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay" %}</td>
                        <td>{{ data.4|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay until the first surgical procedure" %}</td>
                        <td>{{ data.5|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay until the first surgical procedure" %}</td>
                        <td>{{ data.6|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Average length of stay from the first surgical procedure until discharge" %}</td>
                        <td>{{ data.7|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Median length of stay from the first surgical procedure until discharge" %}</td>
                        <td>{{ data.8|floatformat:"2" }} {% trans "days" %}</td>
                    </tr>
                </table>
                {# TODO SLUGIFY diagname or something, to create graph slugs. #}
                <div id="graph1" style="margin-top: 20px; height: 150px;"></div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/jqplot.highlighter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.default_kind.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% localize off %}
                var first = [['{% trans "Appropriate antibiotic drug" %}', {{ one }}],
                    ['{% trans "Appropriate dose" %}', {{ twoa }}],
                    ['{% trans "Appropriate dose with weight" %}', {{ twob }}],
                    ['{% trans "Appropriate route of administration: intravenous administration" %}', {{ three }}],
                    ['{% trans "Appropriate timing, within one hour of surgical wound incision" %}', {{ four }}],
                    ['{% trans "Appropriate timing:" %}', {{ five }}],
                    ['{% trans "Full compliance with criteria 1-5" %}', {{ ten }}],
                    ['{% trans "% of misuse" %}', {{ six }}],
                    ['{% trans "% of overuse" %}', {{ seven }}],
                    ['{% trans "% of underuse" %}', {{ eight }}],
                    ['{% trans "% of single shot treatment" %}', {{ nine }}]];
            {% endlocalize %}
            $.jqplot('graph1', [first], jqplot_percent);
        });
    </script>
{% endblock js %}