{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if benchmarking %}
        {% trans "Please, define a date up to which we perform the benchmarking between the participating hospitals, for one year before the selected date." %}
        <br /><br />
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        <table class="report_form">
            {% csrf_token %}
            {% include "form_temp.html" %}
        </table>
        <input type="submit" value="{% trans "Submit" %}">
    </form>
{% endblock content %}
