{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <table id="report_forms">
        <tr>
            <th>{% trans "Report" %}</th>
            <th>{% trans "Form" %}</th>
            <th>{% trans "Statistics" %}</th>
            <th>{% trans "Trend" %}</th>
            <th>{% trans "Anonymus statistics" %}</th>
            <th>{% trans "Import" %}</th>
            <th>{% trans "Export" %}</th>
            <th>{% trans "Template" %}</th>
            <th>{% trans "Data collecting sheet" %}</th>
            <th>{% trans "Data reporting tables" %}</th>
            <th>{% trans "Short indicator description" %}</th>
        </tr>
        <tr>
            <td>{% trans "C1. C-section rate" %}</td>
            <td><a href="{% url c1_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c1_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c1_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c1_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c1_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c1_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c1.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c1.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c1.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.2.1. Prophylactic antibiotic use - Planned surgery for colorectal cancer" %}</td>
            <td><a href="{% url c21_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c21_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c21_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c21_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c21_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c21_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c21.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c2.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c21.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.2.3. Prophylactic antibiotic use - Hip replacement" %}</td>
            <td><a href="{% url c23_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c23_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c23_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c23_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c23_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c23_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c23.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c2.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c23.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.2.4. Prophylactic antibiotic use - Hysterectomy" %}</td>
            <td><a href="{% url c24_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c24_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c24_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c24_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c24_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c24_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c24.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c2.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c24.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.3.1. 30-day in-hospital mortality of patients admitted with AMI" %}</td>
            <td><a href="{% url c31_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c31_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c31_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c31_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c31_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c31_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c31.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c3.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c31.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.3.2. 30-day in-hospital mortality of patients admitted with acute stroke" %}</td>
            <td><a href="{% url c32_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c32_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c32_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c32_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c32_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c32_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c32.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c3.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c32.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.8. Length of Stay" %}</td>
            <td><a href="{% url c8_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c8_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c8_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c8_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c8_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c8_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c8.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c8.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c8.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.9. Operating theatre performance " %}</td>
            <td><a href="{% url c9_operation_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Operation form" %}" /></a> <a href="{% url c9_patient_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Patient form" %}" /></a></td>
            <td><a href="{% url c9_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c9_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c9_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c9_exporto %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Operation export" %}" /></a><a href="{% url c9_exportp %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Patient export" %}" /></a></td>
            <td><a href="{% url c9_operation_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Operation template" %}" /></a><a href="{% url c9_patient_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Patient template" %}" /></a></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.page.word.png" title="{% trans "Short indicator description" %}" /></td>
        </tr>
        <tr>
            <td>{% trans "C.13. Needle stick injuries" %}</td>
            <td><a href="{% url c13_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c13_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c13_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.paperclip.png" title="{% trans "Import" %}" /></td>
            <td><a href="{% url c13_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.page.excel.png" title="{% trans "Template" %}" /></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c13.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><img src="{{ STATIC_URL }}/images/gray.appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c13.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "C.20. AMI patients prescribed aspirin at discharge" %}</td>
            <td><a href="{% url c20_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url c20_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url c20_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url c20_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url c20_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url c20_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/c20.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/c20.xlsx"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/c20.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
        <tr>
            <td>{% trans "R1. indicators for rehabilitation hospitals and departments" %}</td>
            <td><a href="{% url r1_display %}"><img src="{{ STATIC_URL }}/images/appbar.clipboard.edit.png" title="{% trans "Form" %}" /></a></td>
            <td><a href="{% url r1_stat %}"><img src="{{ STATIC_URL }}/images/appbar.graph.bar.png" title="{% trans "Statistics" %}" /></a></td>
            <td><a href="{% url r1_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "R1 Trend" %}" /></a> <a href="{% url r2_trend %}"><img src="{{ STATIC_URL }}/images/appbar.graph.line.up.png" title="{% trans "R2 Trend" %}" /></a></td>
            <td><a href="{% url c1_trend %}"></a><img src="{{ STATIC_URL }}/images/gray.appbar.group.png" title="{% trans "Anonymus statistics" %}" /></a></td>
            <td><a href="{% url r1_import %}"><img src="{{ STATIC_URL }}/images/appbar.paperclip.png" title="{% trans "Import" %}" /></a></td>
            <td><a href="{% url r1_export %}"><img src="{{ STATIC_URL }}/images/appbar.disk.download.png" title="{% trans "Export" %}" /></a></td>
            <td><a href="{% url r1_template %}"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Template" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/dcs/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Data collecting sheet" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/drt/{{ LANGUAGE_CODE }}/r1a.xls"><img src="{{ STATIC_URL }}/images/appbar.page.excel.png" title="{% trans "Data reporting tables" %}" /></a></td>
            <td><a href="{{ STATIC_URL }}documents/sid/{{ LANGUAGE_CODE }}/r1a.docx"><img src="{{ STATIC_URL }}/images/appbar.page.word.png" title="{% trans "Short indicator description" %}" /></a></td>
        </tr>
    </table>
{% endblock content %}